#playlist-modal{
    display: flex;
    flex-direction: column;
    color: white;
    width: 260px;
    position: relative;
}
#playlist-modal hr{
   border: 0.5px solid rgba(128, 128, 128, 0.432);
}
#playlist-modal ul{
    height: 120px;
    overflow-y: auto;
}
#playlist-modal section{
    padding: 20px;
}

#playlist-modal :where(h4,h5){
    margin-bottom: 20px;
}
#playlist-modal input{
    height: 36px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.267);
    padding: 0px 10px;
    color: white;
    border: none;
    width: 100%;
    font-size: 0.9rem;
}
#playlist-modal #create-new-section button{
    height: 36px;
    width: 100%;
    border-radius: 5px;
    margin-left: 0px;
    width: 100%;
    font-size: 0.9rem;
    margin: 10px 0px;
    background-color: var(--primary-color);
}
#playlist-modal #create-new-section button:hover{
    background-color: var(--primary-color)!important;
}
#playlist-modal #create-new-section button:disabled:hover{
    background-color: gray!important;
}
#playlist-modal #create-new-section button:disabled{
    background-color: gray;
    cursor: not-allowed;
}
#playlist-modal input:focus{
    outline: none;
    border: 1px solid gray;
}
#playlist-modal li{
    position: relative;
    color: whitesmoke;
    font-weight: lighter;
    font-size: 0.8rem;
    background-color: rgba(128, 128, 128, 0.267);
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#playlist-modal span{
    color:red;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
   
}
#close-btn{
   position: absolute;
   top: 5px;
   right: 5px;
   cursor: pointer;
   height: 30px;
   width: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   font-size: 0.8rem;
   filter: invert();
   
}
#close-btn:hover{
    background-color: rgba(128, 128, 128, 0.39);

}
#playlist-modal li:hover::after{
    content: 'add';
    color: greenyellow;
    position: absolute;
    right: 10px;
    transition: 0.2s ease-in-out;

}
#playlist-modal li:hover{
    background-color: rgba(149, 255, 149, 0.199);
}

#playlist-modal li:last-child{
    margin-bottom: 0px;
}