#home{
    height: 100%;
    width: 100%;
   
}
#home h3{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    border-bottom: 1px solid lightgray;
    
}
.home-content{
    min-width: 400px;
    display: flex;
    flex-wrap: wrap;
}