nav{
    border-right: 1px solid lightgray;
    width: 230px;
    height: calc(100vh - 60px);
    position: fixed;
    top: 60px;
    left: 0px;
}
nav ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
nav ul li{
    list-style: none;
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;

}
nav ul li div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}
nav ul li div span{
    font-size: 1.5rem;
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li div:hover{
    background-color: whitesmoke;
}